#backend
backend/node_modules/
backend/dist/
backend/.env
backend/.env.*
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/coverage/

#app
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/.idea/
android-app/*.iml
android-app/.cxx/
android-app/captures/
android-app/.externalNativeBuild/
android-app/google-services.json

#default
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/
*.iml